{% extends "base.html" %}
	{% block title %}LEADFUNNEL - LOGIN{% endblock title %}
	{% block css %}
	<!-- user-defined css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
	{% endblock css %}
	{% block content %}
	<!-- login page -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="login-form form-horizontal" method="post" action="">
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<div class="form-group">
									<img src="{{ url_for('static',filename='images/logo.png') }}" width="100%">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<div class="form-group">
									<input type="text" name="username" placeholder="Username" class="form-control">
								</div>
							</div>
						</div>	
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<div class="form-group">
									<input type="password" name="password" placeholder="Password" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<div class="form-group">
									<input type="submit" name="signin" class="btn btn-block btn-danger">
								</div>
							</div>
						</div> 
					</form>
				</div>
			</div>
		</div>
	{% endblock content %}
	{% block js %}
	<!-- user-defined js -->
	{% endblock js %}