{% extends "base.html" %}
	{% block title %}LEADFUNNEL - LOGIN{% endblock title %}
	{% block css %}
	<!-- user-defined css -->
	{% endblock css %}
	{% block content %}
	<!-- login page -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="login-form">
						<p class="company-logo"><img src=""></p>
						<input type="text" name="username" placeholder="Username">
						<input type="password" name="password" placeholder="Password">
						<input class="btn btn-block btn-success" type="submit" name="Sign In">
					</form>
				</div>
			</div>
		</div>
	{% endblock content %}
	{% block js %}
	<!-- user-defined js -->
	{% endblock js %}